name: build_cloud
on:
  push:
    branches:
      - standard
permissions:
  contents: write
  pull-requests: write
jobs:
  build_cloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: cloud
      - name: build_cloud
        run: |
          git clone https://github.com/abap2UI5/samples
          cp -r samples/src/* src/
          rm -rf samples
          rm -rf src/00 
      - name: Open Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          title: Automatic Update
          commit-message: "Automatic Update"
